
.Banner {
  text-align: center;
  font-weight: bolder;
}
.lettre, .lettre span {
  display: inline-block;
}
.Banner span {
  cursor: pointer;
  position: relative;
  font-size: 250px;
  perspective: 450px;
   font-size: clamp(60px, 12vw, 250px);
}
.lettre span::before,
.lettre span::after {
  position: absolute;
  content: attr(data-letter);
  inset: 0;
  transform-origin: top left;
}
.lettre span::before {
  transition: transform 0.4s ease-out;
  color: rgba(0,0,0,0.122);

}
.lettre span::after {
  color: red;
  transition: 
  transform 0.2s ease-out,
  color 0.2s ease-out;
  transform: rotateY(-10deg);
}
.lettre:hover span::after {
  transform: rotateY(-60deg);
}
.lettre:hover span::before {
  transform: scaleX(0.85) skewY(20deg);
}
.mot {
  display: block;        /* chaque mot sur sa propre ligne */
  white-space: nowrap;   /* empêche de couper un mot en deux */
}